.logo{
    margin-top: 1px;
    margin-bottom: 2px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #070707;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
}

.menu li a:hover {
    background: #ffffff;
    color: black;
}

