* {box-sizing: border-box;
    margin: 0;
    padding: 0;}
body, html {
    margin:0;
    padding:0;
    height: 100%;
}

.container{
    width: 100%;
    text-align: justify;
    padding: 30px;
    height: 100px;
    margin-bottom:200px;
}

.container li {
    margin-left: 20px;
}


.image{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}



